/*
Color scheme:
#FF5E00
#332929
#FFA200
#DC4B00

font-family: 'Coustard', serif;
400-Regular
900-Black

font-family: 'Poppins', sans-serif;
200-ExtraLight
400-Regular
500-Medium
600-SemiBold
700-Bold
800-ExtraBold
900-Black

 */
footer{
    position: relative;
    bottom: 0;
    background-color: #332929;
    color: white;
    text-align: left;
    font-size: 14px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer a:visited{
    text-decoration: none;
    color: white;
}
footer ul{
    list-style-type: none;
}
.foot{
    padding: 20px 50px;
    margin: 0;
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
}

footer li *{
    text-align: left;
}
.c-s-list{
    line-height: 30px;
}
.c-s-l-item{
    font-size: 50px;
    margin: 0;
    padding: 0;
}
#email{
    list-style-image: url('../media/mail.svg');
}
#phone{
    list-style-image: url('../media/phone.svg');
}
#fb{
    list-style-image: url('../media/facebook.svg');
}
.normText{
    position: relative;
    font-size: 14px;
    bottom: 6px;
}



