/*
Color scheme:
#FF5E00
#332929
#FFA200
#DC4B00

font-family: 'Coustard', serif;
400-Regular
900-Black

font-family: 'Poppins', sans-serif;
200-ExtraLight
400-Regular
500-Medium
600-SemiBold
700-Bold
800-ExtraBold
900-Black

h1{
    font-size: 22px;
    font-family: 'Coustard', serif;
    color: #1B1616;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
h2{
    color: #FF5E00;
    font-weight: 700;
    font-size: 30px;
}
h3{
    color: #FF5E00;
    letter-spacing: 2px;
}
h4{
    //////
}
h5{
    color:#FF5E00;
    font-size: 16px;
}
h6{
    font-size: 14px;
}

break-points:
Small	| up to 640px	| 20" to 65" | TVs	                     |  320x569, 360x640, 480x854
Medium	| 641 - 1007px	| 7" to 12"	 | Tablets                   |	960x540
Large	| 1008px and up	| 13" and up | PCs, Laptops, Surface Hub |	1024x640, 1366x768, 1920x1080
Source: https://learn.microsoft.com/en-us/windows/apps/design/layout/screen-sizes-and-breakpoints-for-responsive-design
 */

html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
h5{
    color:#FF5E00;
    font-size: 16px;
}
h6{
    font-size: 14px;
}

body{
    margin: 0;
    padding: 0;
}
.mobile{
    display: none;
}
header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header{
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,50%);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.mastnav{
    z-index: 5;
    width: inherit;
    height: 30px;
    position: fixed;
    top: 0;
    background-color: #574f4d;
    margin: 0;
    padding: 0;
}
.master-navbar{
    display: flex;
    flex-direction: row;
    height: inherit;
}
.master-links{
    padding: 0;
    margin: 0;
}
.m-l-container{
    height: 30px;
}
.master-links{
    height: 30px;
    width: 90px;
    margin-left: 60px;
}
.master-links img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#watercraft{
    margin-left: 20px;
}

/*Upcoming Events bar (orange)*/
.notifications{
    margin: 0;
    padding: 0;
    background-color: #FF5E00;
    width: inherit;
    height: 30px;
    position: relative;
    text-align: center;

}
.notifications *{
    z-index: -1;
}

.n-b-dropbtn{
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    border: none;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.n-b-dropbtn:hover{
    cursor: pointer;
}
#n-b-drpbtn-dropIcon{
    margin-top: 0;
    padding: 0;
    width: 20px;
}
.n-b-dropdown{
    display: flex;
    position: absolute;
    margin-top: 5px;
    float: none;
    background-color: white;
    box-shadow: 2px 2px 5px 0 #574f4d;
    padding: 12px 30px;
    text-decoration: none;
    text-align: left;
    width:100%;
    height: 0px;
    justify-content: center;

}
.n-b-dropdown *{
    visibility: inherit;
    transition: 0.3s ease-in-out; /vendorless fallback /
    -o-transition: 0.3s ease-in; / opera /
    -ms-transition: 0.3s ease-in; / IE 10 /
    -moz-transition: 0.3s ease-in; / Firefox /
    -webkit-transition: 0.3s ease-in; /safari and chrome /
    transition-timing-function: inherit;
}

.n-b-db-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1280px;
    max-height: 200px;
    justify-content: center;
    gap: 5vw;
    margin: 0 100px 0 40px;
    padding:  0;
    position: absolute;
    bottom: 0;
}
.n-b-db-content{
    min-width:25vw;
}
.n-b-db-content h5, h6, p, a{
    padding: 0;
    margin: 0;
    text-align: center;

}
.n-b-db-content p{
    text-align:left;
    width: 25vw;
    height: 100px;
    position: absolute;
    bottom: 70px;
}
.n-b-db-content h5, h6{
    width: 25vw;
    position: absolute;
}
.n-b-db-content h5{
    text-align:center;
    bottom: 210px;
}
.n-b-db-content h6{
    text-align:left;
    bottom: 175px;
}
.flex-btns{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    bottom: 50px;
    position: absolute;
    color: #FF5E00;
}
.n-b-db-content-btn{
    text-decoration: none;
    color: #FF5E00;
}
.n-b-db-content-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
.n-b-db-content-btn:visited{
    text-decoration: none;
    color: #FF5E00;
}
#n-b-db-fair{
    text-align: left;
    width: calc(25vw/2);
}
#n-b-db-more{
    text-align: right;
    width: calc(25vw/2);
}

/*local navigation bar (brown)*/
.localnav{
    margin: 0;
    padding: 0;
    position: fixed;
    top:30px;
    z-index: 4;
    width: inherit;
    height: 65px;
    transition: top 0.4s;
}


.navigation-links{
    margin: 0;
    padding: 0;
    background-color: #332929;
    width: inherit;
    height: 35px;
}

/*local nav left link (brown)*/
.lnav-left{
    display: inline-block;
    float: left;
    padding-left: 50px;
}
.lnav-left li{
    float: left;
}
.lnav-left li a{
    display: block;
    color: #FF5E00;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;

    font-family: 'Coustard', serif;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
}
.lnav-left li a:hover{
    text-decoration: none;
}
.lnav-left li a:visited{
    text-decoration: none;
}
/*local nav right links (brown)*/
.lnav-right{
    display: inline-block;
    float: right;
    padding-right: 50px;
}
.lnav-right li{
    float: left;
}
.lnav-right li a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;

    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.lnav-right li a:hover{
    text-decoration: underline;
    color:#FF5E00;
    transition: 0.4s;
}
.lnav-right li a:visited{
    text-decoration: none;
}
.lnav-r-link img{
    padding-top: 1px;
    width: 20px;
    height: auto;
}


/*--------------------------------------------------------*/
/*Media sizes*/
/*smaller desktop*/
@media only screen and (max-width: 1280px){
    .lnav-left li a{
        font-size: 12px;
        padding-top:8px;
    }
    .lnav-right li a{
        font-size: 12px;
        padding-top:8px;
    }
}

@media only screen and (min-width: 1008px) and (max-width: 1280px){
    .n-b-db-flex{
        gap: 10vw;
        margin-left: 15vw;
    }
    .n-b-db-content *{
        font-size: 14px;
    }
    .n-b-db-content h6{
        font-size: 12px;
    }
    #n-b-db-fair{
        text-align: left;
        width: calc(20vw/2);
    }
    #n-b-db-more{
        text-align: left;
        width: calc(30vw/2);
    }

}
/*tablet*/
@media only screen and (min-width: 641px) and (max-width: 1008px){
    /*hide desktop nav & show mobile version*/
    /*!!! affects footer*/
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        margin: 0;
        padding: 0;
    }
}
/*phone*/
@media only screen and (max-width: 640px){
    /*hide desktop nav & show mobile version*/
    /*!!! affects footer*/
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        margin: 0;
        padding: 0;
    }
}
